body {
  background-color: #232323;
  color: white;
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 20%;
  transition: background-color 500ms;
  transition-timing-function: ease;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}
h1 {
  color: white;
}